@model Client.DataTransferObjects.Accounts.AccountDtoChangePassword
@{
    Layout = "_LayoutRegister";
}

<div class="container">

    <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
                    <div class="d-flex justify-content-center py-4">
                        <a href="index.html" class="logo d-flex align-items-center w-auto">
                            <img src="~/Arsha/assets/img/logo-metrodata-idel.png" width="150" alt="logo metrodata">
                            @*<span class="d-none d-lg-block">NiceAdmin</span>*@
                        </a>
                    </div><!-- End Logo -->

                    <div class="card mb-3">

                        <div class="card-body">
                            <div class="pt-4 pb-2">
                                <p style="font-size: 30px; margin-bottom: 1rem; text-align: center;" class="text-center-login"><strong>Change Password</strong></p>
                            </div>

                            <form action="/account/changepassword" method="post" class="row g-3 needs-validation" novalidate>
                                @Html.AntiForgeryToken()
                                <div class="col-md-12">
                                    <label for="validationCustom06" class="form-label">Email</label>
                                    <input asp-for="Email" type="email" class="form-control" id="validationCustom06" required>
                                    <div class="invalid-feedback">
                                        Please enter a valid Email adddress!
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <label for="validationCustom07" class="form-label">OTP</label>
                                    <input asp-for="Otp" type="number" class="form-control" id="validationCustom07" required>
                                    <div class="invalid-feedback">
                                        Please enter your phone number!
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <label for="validationCustom08" class="form-label">New Password</label>
                                    <input asp-for="NewPassword" type="password" class="form-control" id="validationCustom08" required>
                                    <div class="invalid-feedback">
                                        Please enter your password!
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <label for="validationCustom09" class="form-label">Confirm New Password</label>
                                    <input asp-for="ConfirmNewPassword" type="password" class="form-control" id="validationCustom09" required>
                                    <div class="invalid-feedback">
                                        Please enter your confirm password!
                                    </div>
                                </div>
                                <div class="col-12">
                                    <button class="btn btn-primary w-100" type="submit">Reset Password</button>
                                </div>
                                <div class="col-12">
                                    <p style="text-align: center;" class="small mb-0">Already have an account? <a href="/account/login">Log in</a></p>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

</div>
