@model Client.DataTransferObjects.Companies.CompanyDtoGet

@{
    Layout = "_LayoutDashboard";
}

<main id="main" class="main">

    <div class="pagetitle">
        <h1>Form Validation</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="index.html">Home</a>
                </li>
                <li class="breadcrumb-item">Forms</li>
                <li class="breadcrumb-item active">Validation</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Custom Styled Validation</h5>
                        <p>For custom Bootstrap form validation messages, you’ll need to add the <code>novalidate</code> boolean attribute to your <code>&lt;form&gt;</code>. This disables the browser default feedback tooltips, but still provides access to the form validation APIs in JavaScript. </p>

                        <!-- Custom Styled Validation -->
                        <form action="/company/update" method="post" class="row g-3 needs-validation" novalidate>
                            @Html.AntiForgeryToken()
                            <div class="col-md-8" hidden>
                                <label for="validationCustom01" class="form-label">Guid</label>
                                <input asp-for="Guid" type="text" class="form-control" id="validationCustom01" required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                            <div class="col-md-5">
                                <label for="validationCustom01" class="form-label">Company Name</label>
                                <input asp-for="CompanyName" type="text" class="form-control" id="validationCustom01" required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                                <div class="invalid-feedback">
                                    Please enter company name!
                                </div>
                            </div>
                            <div class="col-md-8">
                                <label for="validationCustom01" class="form-label">Address Company</label>
                                <textarea asp-for="Address" class="form-control" id="validationCustom01" rows="5" cols="10" required></textarea>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                                <div class="invalid-feedback">
                                    Please enter description!
                                </div>
                            </div>
                            <div class="col-md-8">
                                <label for="validationCustom01" class="form-label">Company Description</label>
                                <textarea asp-for="Description" type="text" class="form-control" id="validationCustom01" rows="5" cols="10" required></textarea>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                                <div class="invalid-feedback">
                                    Please enter address!
                                </div>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-primary" type="submit">Submit form</button>
                            </div>
                        </form><!-- End Custom Styled Validation -->

                    </div>
                </div>

            </div>
        </div>
    </section>

</main><!-- End #main -->
