@{
    ViewData["Title"] = "FAQ"; Layout = "_LayoutDashboard";
}

<main id="main" class="main">
  <div class="pagetitle">
    <h1>Frequently Asked Questions</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="~/Dashboard/Index">Home</a></li>
        <li class="breadcrumb-item active"><a href="~/FAQ/Index">Frequently Asked Questions</a></li>
      </ol>
    </nav>
  </div>
  <!-- End Page Title -->

  <section class="section faq">
    <div class="row">
      <div class="col-lg-12">

        <!-- F.A.Q Group 2 -->
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Anything you want to ask?</h5>

            <div class="accordion accordion-flush" id="faq-group-2">
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" data-bs-target="#faqsTwo-1" type="button" data-bs-toggle="collapse">
                    What is the Metrodata Idle Management System website?
                  </button>
                </h2>
                <div id="faqsTwo-1" class="accordion-collapse collapse" data-bs-parent="#faq-group-2">
                  <div class="accordion-body">
                    The Metrodata Ideal Management System is a website designed to facilitate and manage the job placement process for employees who have completed the Metrodata Coding Camp. By relying on this website, users can monitor which employees are still in idle status, so that they can be placed on internal projects or client projects.
                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" data-bs-target="#faqsTwo-2" type="button" data-bs-toggle="collapse">
                    How to register an account on the Metrodata Idle Management System web?
                  </button>
                </h2>
                <div id="faqsTwo-2" class="accordion-collapse collapse" data-bs-parent="#faq-group-2">
                  <div class="accordion-body">
                    <p>
                        1. Visit the Harisenin.com website page. <br>
                        2. Click "Register" in the upper right corner. <br>
                        3. After that you will enter the page to fill in the required data. <br>
                        4. If the data has been filled in, press the "Register" button. <br>
                        5. Congratulations! Your account can already be used. <br>
                    </p>
                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" data-bs-target="#faqsTwo-3" type="button" data-bs-toggle="collapse">
                    Here's how to set up for a locked account:
                  </button>
                </h2>
                <div id="faqsTwo-3" class="accordion-collapse collapse" data-bs-parent="#faq-group-2">
                  <div class="accordion-body">
                    <p>
                        1. Click the Login button. <br>
                        2. Click Forgot Password. <br>
                        3. Enter the email account that was registered. <br>
                        4. Reset Password with the token that was sent via email. <br>
                        5. Login again to the Metrodata Idle Management System web with the updated password. <br>
                    </p>
                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" data-bs-target="#faqsTwo-4" type="button" data-bs-toggle="collapse">
                    What are the features on the Metrodata Idle Management System website?
                  </button>
                </h2>
                <div id="faqsTwo-4" class="accordion-collapse collapse" data-bs-parent="#faq-group-2">
                  <div class="accordion-body">
                    <p><strong>1. Employee Project</strong> <br>
                        Through recommendations from trainers, Metrodata Coding Camp employees with Idle status can be given the opportunity to take part in internal projects at PT. Mitra Integrasi Informatika.
                    </p>
                    <p><strong>2. Placement on Client</strong> <br>
                        Find out information on the placement history of Metrodata Coding Camp employees.
                    </p>
                    <p><strong>3. Interview Scheduling</strong> <br>
                        Help HR to schedule the recruitment process for Metrodata Coding Camp employees with clients and make it easier for Metrodata Coding Camp employees to know the status of recruitment.
                    </p>
                    <p><strong>4. Automatic Graded Employees</strong> <br>
                        A feature that functions to help generate grades for each Metrodata Coding Camp employee automatically.
                    </p>
                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" data-bs-target="#faqsTwo-5" type="button" data-bs-toggle="collapse">
                    How is the job placement process system using this website?
                  </button>
                </h2>
                <div id="faqsTwo-5" class="accordion-collapse collapse" data-bs-parent="#faq-group-2">
                  <div class="accordion-body">
                    The use of the Metrodata Idle Management System website uses an approval system. Through this web system, employees can find out information on the placement process, whether it is accepted, pending or rejected.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div><!-- End F.A.Q Group 2 -->
      </div>
    </div>
  </section>
</main><!-- End #main -->
