@{
	ViewData["Title"] = "Home Page";
	Layout = "_LayoutLandingPage";
}

<!-- ======= Header ======= -->
<header id="header" class="fixed-top ">
	<div class="container d-flex align-items-center">
		<a href="index.html" class="logo me-auto"><img src="~/Arsha/assets/img/logo-metrodataIdel-white.png" alt="logo-metrodata" class="img-fluid"></a>
		<nav id="navbar" class="navbar">
			<ul>
				<li>
					<a class="nav-link scrollto active" href="#hero">Home</a>
				</li>
				<li>
					<a class="nav-link scrollto" href="#about">About</a>
				</li>
				<li>
					<a class="nav-link scrollto" href="#feature">Feature</a>
				</li>
				<li>
					<a class="nav-link scrollto" href="#alumni">Alumni</a>
				</li>
				<li>
					<a class="getstarted scrollto" href="~/Account/Login">Login</a>
				</li>
				<li>
					<a class="getstarted scrollto" href="~/Account/Register">Register</a>
				</li>
			</ul>
			<i class="bi bi-list mobile-nav-toggle"></i>
		</nav><!-- .navbar -->

	</div>
</header><!-- End Header -->
<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
				<h1>Metrodata-IMS</h1>
				<h2>Metrodata IT Camp Management System that produces quality Information Technology professionals.</h2>
				<div class="d-flex justify-content-center justify-content-lg-start">
					<a href="#about" class="btn-get-started scrollto">Get Started</a>
					<a href="https://youtu.be/WN5WsKlLoZA" class="glightbox btn-watch-video">
						<i class="bi bi-play-circle"></i><span>Watch Video</span>
					</a>
				</div>
			</div>
			<div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
				<img src="~/Arsha/assets/img/hero-img.png" class="img-fluid animated" alt="">
			</div>
		</div>
	</div>

</section><!-- End Hero -->

<main id="main">
	<!-- ======= Clients Section ======= -->
	<section id="clients" class="clients section-bg">
		<div class="container">

			<div class="row" data-aos="zoom-in">

				<div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
					<img src="~/Arsha/assets/img/clients/pertamina-logo.png" class="img-fluid" alt="">
				</div>

				<div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
					<img src="~/Arsha/assets/img/clients/bni-logo.png" class="img-fluid" alt="">
				</div>

				<div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
					<img src="~/Arsha/assets/img/clients/cimb-logo.png" class="img-fluid" alt="">
				</div>

				<div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
					<img src="~/Arsha/assets/img/clients/bri-logo.png" class="img-fluid" alt="">
				</div>

				<div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
					<img src="~/Arsha/assets/img/clients/adira-logo.png" class="img-fluid" alt="">
				</div>

				<div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
					<img src="https://cmsportal.jalin.co.id/uploads/setting/logo-header_(1)101.webp" class="img-fluid" alt="">
				</div>

			</div>

		</div>
	</section><!-- End Cliens Section -->
	<!-- ======= About Section ======= -->
	<section id="about" class="cta">
		<div class="container" data-aos="zoom-in">

			<div class="section-title">
				<h2 style="color : white">About Us</h2>
				<p>The Metrodata Ideal Management System is a website designed to facilitate and manage the job placement process for employees who have completed the Metrodata Coding Camp. By relying on modern and efficient technology, this website aims to provide information related to the process of placing employees according to the needs and requests of PT. Mitra Integrasi Informatika or partner companies. Through the Metrodata Ideal Management System, PT. Mitra Integrasi Informatika is committed to strengthening the relationship between their Bootcamp graduates and the technology industry, as well as encouraging sustainable career growth for young talents who are talented in the fields of software development and information technology.</p>
			</div>
		</div>
	</section><!-- End About Us Section -->
	<!-- ======= Feature Section ======= -->
	<section id="feature" class="services">
		<div class="container" data-aos="fade-up">

			<div class="section-title">
				<h2>Feature</h2>
			</div>

			<div class="row">
				<div class="col-xl-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
					<div class="icon-box">
						<div class="icon">
							<i class="bi bi-journal-bookmark"></i>
						</div>
						<h4>
							<a href="">Employee Project</a>
						</h4>
						<p>Through recommendations from trainers, Metrodata Coding Camp employees with Idle status can be given the opportunity to take part in internal projects at PT. Mitra Integrasi Informatika.</p>
					</div>
				</div>

				<div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
					<div class="icon-box">
						<div class="icon">
							<i class="bi bi-buildings"></i>
						</div>
						<h4>
							<a href="">Placement on Client</a>
						</h4>
						<p>Find out information on the placement history of Metrodata Coding Camp employees.</p>
					</div>
				</div>

				<div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="300">
					<div class="icon-box">
						<div class="icon">
							<i class="bi bi-calendar4-week"></i>
						</div>
						<h4>
							<a href="">Interview Scheduling</a>
						</h4>
						<p>Help HR to schedule the recruitment process for Metrodata Coding Camp employees with clients and make it easier for Metrodata Coding Camp employees to know the status of recruitment.</p>
					</div>
				</div>

				<div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="400">
					<div class="icon-box">
						<div class="icon">
							<i class="bi bi-database-down"></i>
						</div>
						<h4>
							<a href="">Automatic Graded Employees</a>
						</h4>
						<p>A feature that functions to help generate grades for each Metrodata Coding Camp employee automatically.</p>
					</div>
				</div>

			</div>

		</div>
	</section><!-- End Services Section -->
	<!-- ======= Team Section ======= -->
	<section id="alumni" class="team section-bg">
		<div class="container" data-aos="fade-up">
			<div class="section-title">
				<h2>Alumni</h2>
				<p>What they feel is Metrodata Coding Camp employees.</p>
			</div>
			<div class="row">
				<div class="col-lg-6" data-aos="zoom-in" data-aos-delay="100">
					<div class="member d-flex align-items-start">
						<div class="pic">
							<img src="~/Arsha/assets/img/team/img-maul.jpg" class="img-fluid" alt="">
						</div>
						<div class="member-info">
							<h4>Rifky Maulana</h4>
							<span>Full Stack Developer</span>
							<p>After joining the Metrodata Coding Camp, I can work in the IT field and currently I am working at PT. Pertamina Hulu Rokan.</p>
							<div class="social">
								<a href="https://www.linkedin.com/in/rifky-maulana-dev/">
									<i class="ri-linkedin-box-fill"></i>
								</a>
							</div>
						</div>
					</div>
				</div>

				<div class="col-lg-6 mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="200">
					<div class="member d-flex align-items-start">
						<div class="pic">
							<img src="~/Arsha/assets/img/team/img-putu.jpg" class="img-fluid" alt="">
						</div>
						<div class="member-info">
							<h4>I Putu Agrahita Wiguna</h4>
							<span>.Net Developer</span>
							<p>After joining the Metrodata Coding Camp, I can work in the IT field and currently I am working at PT. Bank Negara Indonesia Persero Tbk.</p>
							<div class="social">
								<a href="">
									<i class="ri-linkedin-box-fill"></i>
								</a>
							</div>
						</div>
					</div>
				</div>

				<div class="col-lg-6 mt-4" data-aos="zoom-in" data-aos-delay="300">
					<div class="member d-flex align-items-start">
						<div class="pic">
							<img src="~/Arsha/assets/img/team/img-aef.png" class="img-fluid" alt="">
						</div>
						<div class="member-info">
							<h4>Aef Saeful Rohman</h4>
							<span>.Net Developer</span>
							<p>After joining the Metrodata Coding Camp, I can work in the IT field and currently I am working at PT. Bank Rakyat Indonesia (Persero) Tbk.</p>
							<div class="social">
								<a href="https://www.linkedin.com/in/aef-saeful-rohman/">
									<i class="ri-linkedin-box-fill"></i>
								</a>
							</div>
						</div>
					</div>
				</div>

				<div class="col-lg-6 mt-4" data-aos="zoom-in" data-aos-delay="400">
					<div class="member d-flex align-items-start">
						<div class="pic">
							<img src="~/Arsha/assets/img/team/team-3.jpg" class="img-fluid" alt="">
						</div>
						<div class="member-info">
							<h4>William Anderson</h4>
							<span>Font End Developer</span>
							<p>After joining the Metrodata Coding Camp, I can work in the IT field and currently I am working at PT. Jalin Pembayaran Nusantara.</p>
							<div class="social">
								<a href="">
									<i class="ri-linkedin-box-fill"></i>
								</a>
							</div>
						</div>
					</div>
				</div>

			</div>

		</div>
	</section><!-- End Team Section -->
</main><!-- End #main -->

<!-- ======= Footer ======= -->
	<footer id="footer">
		<div class="footer-top">
			<div class="container">
				<div class="row d-flex justify-content-between">
					<div class="col-lg-3 col-md-6 footer-contact">
						<div class="footer-logo">
							<a href="index.html" class="logo me-auto"><img src="~/Arsha/assets/img/logo-metrodata.png" width="100px" alt="logo-metrodata" class="img-fluid"></a>
						</div>
						<div class="footer-tittle">
							<div class="footer-fera">
								<p>
									APL Tower lt.37 Suite 1-8<br>
									Jl. Letjen S. Parman Kav. 28<br>
									Jakarta 11470 <br><br>
								</p>
							</div>
						</div>
					</div>

					<div class="col-lg-2 col-md-6 footer-links">
						<h4>Useful Links</h4>
						<ul>
							<li>
								<i class="bx bx-chevron-right"></i> <a href="#hero">Home</a>
							</li>
							<li>
								<i class="bx bx-chevron-right"></i> <a href="#about">About</a>
							</li>
							<li>
								<i class="bx bx-chevron-right"></i> <a href="#feature">Feature</a>
							</li>
							<li>
								<i class="bx bx-chevron-right"></i> <a href="#alumni">Alumni</a>
							</li>
						</ul>
					</div>

					<div class="col-lg-3 col-md-6 footer-links">
						<h4>Connect With Us</h4>
						<p><strong>Phone:</strong> +62 21 29345 777</p>
						<p><strong>Fax:</strong> +62 21 29345 700</p>
						<p><strong>Email:</strong><a href="mailto:metrodata.academy@ms.mii.co.id">metrodata.academy@ms.mii.co.id</a></p>
					</div>

					<div class="col-lg-3 col-md-6 footer-links">
						<h4>Our Social Networks</h4>
						<div class="social-links mt-3">
							<a href="https://www.facebook.com/insite.metrodata" class="facebook">
								<i class="bx bxl-facebook"></i>
							</a>
							<a href="https://www.instagram.com/metrodata_electronics/" class="instagram">
								<i class="bx bxl-instagram"></i>
							</a>
							<a href="https://www.linkedin.com/company/metrodata/" class="linkedin">
								<i class="bx bxl-linkedin"></i>
							</a>
							<a href="https://www.youtube.com/channel/UCNADfxfo-sMZq39ztxp32uw" class="youtube">
								<i class="bx bxl-youtube"></i>
							</a>
						</div>
					</div>

				</div>
			</div>
		</div>

		<div class="container footer-bottom clearfix">
			<div class="copyright">
				&copy; Copyright
				<strong>
				</strong>. All Rights Reserved
			</div>
			<div class="credits">
				<!-- All the links in the footer should remain intact. -->
				<!-- You can delete the links only if you purchased the pro version. -->
				<!-- Licensing information: https://bootstrapmade.com/license/ -->
				<!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/ -->
				Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
			</div>
		</div>
	</footer><!-- End Footer -->
