@using Client.DataTransferObjects.Companies
@model Client.DataTransferObjects.Jobs.JobDtoGet

@{
    Layout = "_LayoutDashboard";
}

<main id="main" class="main">

    <div class="pagetitle">
        <h1>Form Add</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="~/Dashboard/Index">Home</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="~/Job/Index">Job</a>
                </li>
                <li class="breadcrumb-item active">
                    <a href="~/Job/Create">Add Job</a>
                </li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Add Job Form</h5>
                        <p>Welcome to the "Add Job" form! This form allows you to create and add new job listings to our system. Please fill out all the required fields accurately to ensure the correct information is captured.</p>
                        <p>Once you have filled out all the required fields, click the "Submit Form" button to add the job listing. If there are any errors, the system will prompt you to correct them before submitting. Thank you for using our "Add Job" form!</p>

                        <!-- Custom Styled Validation -->
                        <form action="/job/create" method="post" class="row g-3 needs-validation" novalidate>
                            <div class="col-md-6">
                                <label for="validationCustom01" class="form-label">Job Name</label>
                                <input asp-for="JobName" type="text" class="form-control" id="validationCustom01" required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="validationCustom02" class="form-label">Company</label>
                                <select asp-for="CompanyGuid" class="form-select" id="validationCustom02" required>
                                    <option selected disabled value="">Choose...</option>
                                    @{
                                        foreach (var company in (IEnumerable<CompanyDtoGet>)ViewData["Companies"])
                                        {
                                            <option value="@company.Guid">@company.CompanyName</option>
                                        }
                                    }
                                </select>
                                <div class="invalid-feedback">
                                    Please select a valid company.
                                </div>
                            </div>
                            <div class="col-md-12">
                                <label for="validationCustom02" class="form-label">Description</label>
                                <textarea asp-for="Description" class="form-control" id="validationCustom02" required></textarea>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-primary" type="submit">Submit form</button>
                            </div>
                        </form><!-- End Custom Styled Validation -->

                    </div>
                </div>

            </div>
        </div>
    </section>

</main><!-- End #main -->

