@model Client.DataTransferObjects.Grades.GradeDtoGet

@{
    ViewData["Title"] = "Edit";
    Layout = "_LayoutDashboard";
}

<main id="main" class="main">

    <div class="pagetitle">
        <h1>Form Validation</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="index.html">Home</a>
                </li>
                <li class="breadcrumb-item">Forms</li>
                <li class="breadcrumb-item active">Validation</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Custom Styled Validation</h5>
                        <p>For custom Bootstrap form validation messages, you’ll need to add the <code>novalidate</code> boolean attribute to your <code>&lt;form&gt;</code>. This disables the browser default feedback tooltips, but still provides access to the form validation APIs in JavaScript. </p>

                        <!-- Custom Styled Validation -->
                        <form action="/grade/edit" method="post" class="row g-3 needs-validation" novalidate>
                            @Html.AntiForgeryToken()
                            <div class="form-group">
                                <label for="validationCustom01" class="form-label">Grade Level</label>
                                <select asp-for="GradeLevel" class="form-select" id="validationCustom01" required>
                                    <option selected disabled value="">Choose...</option>
                                    <option value="0">A</option>
                                    <option value="1">B</option>
                                </select>
                                <div class="invalid-feedback">
                                    Please select a valid grade level.
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="validationCustom02" class="form-label">Score Segment1</label>
                                <input asp-for="ScoreSegment1" type="number" class="form-control" id="validationCustom02" required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="validationCustom03" class="form-label">Score Segment2</label>
                                <input asp-for="ScoreSegment2" type="number" class="form-control" id="validationCustom03" required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="validationCustom04" class="form-label">Score Segment3</label>
                                <input asp-for="ScoreSegment3" type="number" class="form-control" id="validationCustom04" required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="validationCustom05" class="form-label">Score Segment4</label>
                                <input asp-for="ScoreSegment4" type="number" class="form-control" id="validationCustom05" required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                            <div class="form-group" hidden>
                                <label for="validationCustom06" class="form-label">Guid</label>
                                <input asp-for="Guid" type="text" class="form-control" id="validationCustom06" required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="validationCustom07" class="form-label">Total Score</label>
                                <input asp-for="TotalScore" type="number" class="form-control" id="validationCustom07" required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary" type="submit">Submit form</button>
                                <a class="btn btn-info" asp-action="Index">Back to List</a>
                            </div>
                        </form><!-- End Custom Styled Validation -->

                    </div>
                </div>

            </div>
        </div>
    </section>

</main><!-- End #main -->

