@model Client.DataTransferObjects.Roles.RoleDtoGet

@{
    Layout = "_LayoutDashboard";
}

<main id="main" class="main">

    <div class="pagetitle">
        <h1>Form Update</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="~/Dashboard/Index">Home</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="~/Role/Index">Role</a>
                </li>
                <li class="breadcrumb-item active">
                    <a href="~/Role/Update?guid=@Model.Guid">Update Role</a>
                </li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Update Job Form</h5>
                        <p>Welcome to the Update Role Form! This form allows you to modify and update an existing role in the system. Roles play a crucial role in defining user permissions and access levels within the application. By updating a role, you can make changes to its name. After you submit the form, the changes will be applied to the selected role, ensuring that users with this role will have the updated permissions. Thank you for using our application.</p>

                        <!-- Custom Styled Validation -->
                        <form action="/role/update" method="post" class="row g-3 needs-validation" novalidate>
                            <div class="col-md-4" hidden>
                                <label for="validationCustom01" class="form-label">Role</label>
                                <input asp-for="Guid" type="text" class="form-control" id="validationCustom01" required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label for="validationCustom01" class="form-label">Role</label>
                                <input asp-for="Name" type="text" class="form-control" id="validationCustom01" required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-primary" type="submit">Submit form</button>
                            </div>
                        </form><!-- End Custom Styled Validation -->

                    </div>
                </div>

            </div>
        </div>
    </section>

</main><!-- End #main -->
