@model Client.DataTransferObjects.Profiles.ProfileDtoGet

@{
    Layout = "_LayoutDashboard";
}

<main id="main" class="main">

    <div class="pagetitle">
        <h1>Form Create</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="~/Dashboard/Index">Home</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="~/Profile/Index">Profile</a>
                </li>
                <li class="breadcrumb-item active">
                    <a href="~/Profile/Create">Create Profile</a>
                </li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Create Profile Form</h5>
                        <p>Welcome to the "Create Profile" form! This form allows you to create and add new profile listings to our system. Please fill out all the required fields accurately to ensure the correct information is captured and click the "Submit Form" button to add the profile listing. Thank you for using our application!.</p>

                        <!-- Custom Styled Validation -->
                        <form action="/profile/create" method="post" class="row g-3 needs-validation" novalidate>
                            <div class="col-md-8">
                                <label for="validationCustom01" class="form-label">Skills</label>
                                <input asp-for="Skills" type="text" class="form-control" id="validationCustom01" required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                                <div class="invalid-feedback">
                                    Please enter your skills!
                                </div>
                            </div>
                            <div class="col-md-8">
                                <label for="validationCustom02" class="form-label">Linkedin</label>
                                <input text="url" asp-for="Linkedin" class="form-control" id="validationCustom02" required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                                <div class="invalid-feedback">
                                    Please enter your Linkedin Link!
                                </div>
                            </div>
                            <div class="col-md-8">
                                <label for="validationCustom03" class="form-label">Resume</label>
                                <input type="url" asp-for="Resume" class="form-control" id="validationCustom03" required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                                <div class="invalid-feedback">
                                    Please enter your resume!
                                </div>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-primary" type="submit">Submit form</button>
                            </div>
                        </form><!-- End Custom Styled Validation -->

                    </div>
                </div>

            </div>
        </div>
    </section>

</main><!-- End #main -->